*{
    padding:0px;
    margin:0px;
    
}
body,html{
    width:100%;
    height:100%;
    
}
.books_logo{
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgb(204, 236, 255);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
}
.course_page_wrapper {
    min-height: 100vh;
    background-image: url('../images/bg2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    position: relative;
}

.course_content_wrapper{
    min-height : 100vh;
    position: relative;
    margin-top: 5%;
    display : block;
    background-color: #fff;    
}

.top_title {
    font-size: 1.3rem;
}

.btn_logout {
    color: #000;
}

.course_container{
    padding-top: 2%;
}
.course_item {
	margin-left: auto!important;
	margin-right: auto!important;
	max-width: 18rem;
    box-shadow: 4px 4px 10px #888888;
    background-color: rgb(233, 236, 239);
	cursor: pointer;
    border: none;
    height: 150px;
    min-width: 100%;
}
@media (max-width: 1024px) {
    .course_item {
        height: 120px;
    }
}
@media (max-width: 575px) {
    .course_item {
        height: auto;
    }
}

.course_item:hover {
  box-shadow: 0px 0px 20px 3px #dee73a;
}

.course_title {
    color: #000;
    font-size: 1rem;
    text-align: center;
    margin: 10% 0;
    word-wrap: break-word;
    height: 30px;
    display: block;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@media (max-width: 1024px) {
    .course_item {
        font-size: 0.8rem;
    }
}

.course_decription {
    font-size: 0.7rem;
    word-wrap: break-word;
    text-align: center;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.modal_course_img {
	padding: 1rem;
	width: 100%;
    margin-left: .25rem;
    margin-right: .25rem;
	box-shadow: 4px 4px 10px #888888;
	background-color: rgb(233, 236, 239);
}

.course_books {
    object-fit: contain;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    min-height: 100%;
}
