.our_news_area{
    padding-bottom: 50px;
    padding-top: 140px;
    .our_news{
        padding-top: 80px;
        .item{
            padding: 5px;
        }
    }
} 

.news{
    padding: 46px; 
    border: 1px solid #f3f3f3;
    cursor: move;
    span{
        color: #c5c3c3;
        font: 500 15px/1 $mon;
        text-transform: uppercase;
    }
    .news_heading{
        font: 700 24px/34px $pop;
        color: #000;
        padding-top: 10px;
        display: block; 
        padding-right: 60px;
    }
    p{
        font: 400 15px/30px $pop;
        color: #000;
        opacity: .65;
        padding: 20px 0; 
    }
    &:hover, &:focus{
        box-shadow: 0px 0px 40px 0px rgba(139, 139, 139, 0.11); 
        background: #fff;
        a{
            color: $hover;
        }
    }
}