/*----------------------------------------------------
@File: Default Styles
@Author: Emran Khan
@URL:http://www.emran-khan.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below.

    1. Variables
    2. Prefix 
    3. header 
    4. Slider
    5. Provide  
    6. Cuntrap
    7. Services 
    8. Client-love 
    9. Team
    10. News
    11. Client-logo
    12. Banner
    13. Projects-grid
    14. Single-project
    15. Blog-masonary
    16. Blog
    17. Footer
    18. Responsive
    19.
    20.

----------------------------------------------------*/
 
/*--------------------------------------------------*/
@import "variables";
/*--------------------------------------------------*/
@import "prefix";
/*--------------------------------------------------*/ 
@import "header";
/*--------------------------------------------------*/ 
@import "slider";
/*--------------------------------------------------*/
@import "provide";
/*--------------------------------------------------*/
@import "cuntrap";
/*--------------------------------------------------*/
@import "project";
/*--------------------------------------------------*/
@import "services";
/*--------------------------------------------------*/
@import "client-love";
/*--------------------------------------------------*/
@import "team";
/*--------------------------------------------------*/
@import "news"; 
/*--------------------------------------------------*/
@import "blog"; 
/*--------------------------------------------------*/
@import "client-logo"; 
/*--------------------------------------------------*/
@import "banner"; 
/*--------------------------------------------------*/
@import "projects-grid"; 
/*--------------------------------------------------*/
@import "single-project"; 
/*--------------------------------------------------*/
@import "blog-masonary"; 
/*--------------------------------------------------*/
@import "comment"; 
/*--------------------------------------------------*/
@import "contact"; 
/*--------------------------------------------------*/   
@import "footer";
/*--------------------------------------------------*/ 
@import "responsive";
/*--------------------------------------------------*/  